$color: rgb(233, 153, 153);

.musicNote {
    background: -webkit-linear-gradient(180deg, #f7926e, #f15260);

}
    ul {
          list-style: none;
          text-align: right;
          li {
              display: inline;
              font-size: 3rem;
              color: #D6FFF5;
          }
        }
}