body {
	background-color: #ddd;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
    background: #569C87;
    
}

header, footer {
	max-width: 700px;
	margin: 0 auto;
}

h1 {
    font-family: Roboto, cursive;
	background-color: #569C87;
	color: #F5C74A;
	font-size: 46px;
	margin: 0;
	padding: 26px;
}

.ohMyFoodMenu {
    display: grid;
    justify-content: center;
    margin: 0 8em;
    grid-template-columns: 450px 450px;
    grid-template-rows: 600px 600px;
    grid-gap: 5em;
}

#menu-1 {
	background-color: #fcdfdb;
}

#menu-2 {
	background-color: #fff5fe;
}

#menu-3 {
	background-color: #f9f9f9;
}

#menu-4 {
	background-color: #fdfffd;
}

#menu-1 h2 {
	font-family: Satisfy, cursive;
	font-size: 25px;
	color: #4B2227;
	margin: 0 0 10px 0;
}

#menu-2 h2 {
	font-family: 'Patrick+Hand', cursive;
	font-size: 22px;
	background: -webkit-linear-gradient(180deg, #9865fb, #e1a162);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu-3 h2 {
	font-family: Satisfy, cursive;
	font-size: 26px;
	background: -webkit-linear-gradient(180deg, #148cfb, #133fe1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu-4 h2 {
	font-family: 'Courgette', cursive;
	font-size: 26px;
	background: -webkit-linear-gradient(180deg, #c5ff8d, #489945);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#menu div:hover {
	transform: scale(1.1);
	overflow: hidden;
	opacity: 0.33;
}

footer {
	background-color: #569C87;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
}

footer a {
	font-family: Roboto, cursive;
	font-size: 20px;
	color: #F5C74A;
	text-decoration: none;
	
}

footer a:first-child {
	float: left;
	padding: 20px 0px 0 25px ;
}

footer a:last-child {
	float: right;
	padding: 20px 25px 20px 0;
}

footer a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
 }

#soon {
    width: 30%;
	margin: 20px auto;
	background-color: #569C87;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
}

#soon a {
	color: #F5C74A;
	font-size: 20px;
	font-family: Roboto, cursive;
	text-decoration: none;
}