@media screen and (max-width: 1280px) {
	
    body {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    #conteneur-ohmyfood {
	margin: 0 auto;
	padding: 0;
	}

	.prochainement {
	width: 30%;
	margin: 20px auto 0;
	}

	footer {
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    #conteneur-ohmyfood
    .menu {
	width: 50%;
	text-align: center;
	display: flex;
	box-shadow: 0 0 4px 4px #ddd;
	text-decoration: none;
	}
	#conteneur-note-enchantee {
	margin: 20px auto 100px;
	}
}

body {
	background-color: #ddd;
	text-align: center;
	margin: 0;
	height: 50px;
}

h1 {
	font-family: Roboto, cursive, serif;
	background-color: #569C87;
	color: #F5C74A;
	font-size: 46px;
	margin: 0;
	padding: 26px;
	text-align: center;
}

h2 {
	background: -webkit-linear-gradient(180deg, #915DF6, #D37D22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {	
	left: 0;
	right: 0;
	margin: 0 auto;	
	text-align: center;
}

footer {
	background-color: #569C87;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: 0 auto;	
	text-align: center;
}

#plat-chic-fr {
	background-color: #ddd;
	text-align: center;
	margin: 0;
	padding: 20px 0 40px 0;
}

footer a {
	font-family: Roboto, cursive, serif;
	font-size: 20px;
	color: #F5C74A;
	text-decoration: none;
	
}

footer a:first-child {
	float: left;
	padding: 20px 0px 0 25px ;
}

footer a:last-child {
	float: right;
	padding: 20px 25px 20px 0;
}

footer a:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
 }

 @keyframes shake {
	10%, 90% {
	transform: translate3d(-1px, 0, 0);
 }
	20%, 80% {
	transform: translate3d(2px, 0, 0);
 }
	30%, 50%, 70% {
	transform: translate3d(-4px, 0, 0);
 }
	40%, 60% {
	transform: translate3d(4px, 0, 0);
 }
 }

#conteneur-chic-fr {
	margin: 20px auto 100px;
}
.plat {
	background-color: #FFF5FE;
	margin-bottom: 60px;
	background-color: #fcdfdb;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 40%;
	-webkit-box-shadow: -4px 2px 15px 0px rgba(0,0,0,0.73);
	-moz-box-shadow: -4px 2px 15px 0px rgba(0,0,0,0.73);
	box-shadow: -4px 2px 15px 0px rgba(0,0,0,0.73);
}
.titre-plat h3 {
	font-family: Kalam, cursive, serif;
	font-size: 40px;
	padding: 30px 0 30px 0;
	margin: 10px 0 10px 0;
	background: -webkit-linear-gradient(180deg, #915DF6, #D37D22);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

h3 {
	font-family: Kalam, cursive, serif;
	font-size: 20px;
	color: #3D1319;
	padding: 5px 0 5px 0;
}

.categorie-entree h3 {
	color: #C8781A;
}

.categorie-plat h3 {
	color: #B580AB;
}

.categorie-dessert h3 {
	color: #9B80DB;
}

.categorie-entree ul {
	color: #C8781A;
}

.categorie-plat ul {
	color: #AE77A4;
}

.categorie-dessert ul {
	color: #9B81DB;
}

ul {
	font-size: 18px;
	list-style-type: none;
	text-align: center;
	margin: 10px 10px 30px 10px;
}

ul li {
	margin-bottom: 15px;
	text-align: center;
}

.prix {
	float: right;
}

/*........ Plat chic à la française ...............*/
.categorie-entree, h3 {
	color: #CA7D22;
}

ul {
	font-size: 18px;
	list-style-type: none;
	margin-top: 15px;
	padding: 0px 30px 30px;
}

ul li {
	margin-bottom: 10px;
	text-align: left;
}

.prix {
	float: right;
}


#plat-chic-fr {
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
}

.plat h3 {
	font-size: 20px;
	padding-bottom: 0px;
	margin-bottom: 0;
}

hr {
	width: 50px;
	height: 2px;
	display: inline-block;
}
