body {
	margin: 0;
}

h1 {
	font-family: Roboto, cursive, serif;
	background-color: #569C87;
	color: #F5C74A;
	font-size: 46px;
	margin: 0;
	padding: 26px;
}

header, footer {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

footer {
	background-color: #569C87;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
}

footer a {
	font-family: Roboto, cursive, serif;
	font-size: 20px;
	color: #F5C74A;
	text-decoration: none;
	
}

footer a:first-child {
	float: left;
	padding: 20px 0px 0 25px ;
}

footer a:last-child {
	float: right;
	padding: 20px 25px 20px 0;
}

footer a:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
 }

 #plat-delice-papilles {
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
}
.plat {
	background-color: #EDEFEF;
	color: #565757;
	font-family: kalam;
}
.titre-plat h3 {
	font-family: 'Homemade Apple', cursive, serif;
	font-size: 35px;
	padding: 40px 0 40px 0;
	background: -webkit-linear-gradient(180deg, #77BBF5, #1A3CDE);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
h3 {
	font-family: Kalam, cursive, serif;
	font-size: 20px;
	padding: 5px 0 5px 0;
	margin: 0;
}
ul {
	font-size: 18px;
	list-style-type: none;
	text-align: left;
	padding: 5px 30px 20px 30px;
}
ul li {
	margin-bottom: 15px;
}
.prix {
	float: right;
}